* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(#6ebfff, 0.8);

}

/* top-nav */

.container {
  max-width: 100%;
  display: block;
  margin: 0;
}

.clearfloat:after,
.clearfloat:before {
  content: "";
  display: block;
  clear: both;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

/* hyperlink */
top-nav a {
  text-decoration: none;
}

top-nav a:link{
  color: #ffffff;
 }

top-nav a:hover{
  color: #0094ff;
 }

top-nav a:active{
  color: #636363;
 }
