/*ALL*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* top-nav */

.top-nav {
  background-color: #3d3d3d;
}

.container {
  max-width: 100%;
  display: block;
  margin: 0;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.clearfloat:after,
.clearfloat:before {
  content: "";
  display: block;
  clear: both;
}

.top-nav .item {
  padding: 20px 20px;
  display: inline-block;
}

/* hyperlink */
.top-nav a {
  font-size: 18px;
}

.top-nav a:link {
  color: #ffffff;
 }

.top-nav a:visited {
  color: #ffffff;
}

.top-nav a:hover {
  color: #dadada;
 }

  .top-nav a:active{
    color: #ffffff;
   }

/* header */
.header {
  padding: 20px;
}

.header .logo {
  font-size: 33px;
}

.header .search {
  border: 2px solid #44aaff;
}

.header .search input,
.header .search button {
  border: 0;
  display: block;
  float: left;
  padding: 9px;
  /*outline: 0;*/
}

.header .search input {
  width: 80%;
}

.header .search button {
  width: 20%;
  background: #44aaff;
  color: #ffffff;
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6,
.column7,
.column8,
.column9{
  display: block;
  position: relative;
  float: left;
  min-height: 1px;
}

.column1{
  width: 10%;
}

.column2{
  width: 20%;
}

.column3{
  width: 30%;
}

.column4{
  width: 40%;
}

.column5{
  width: 50%;
}

.column6{
  width: 60%;
}

.column7{
  width: 70%;
}

.column8{
  width: 80%;
}

.column9{
  width: 90%;
}
